@model MyTask

@{
    var border = Model.IsHighPriority ? "border-danger" : "border - dark";
    var style = Model.IsCompleted ? "opacity: .5;" : "";
}

<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card @border mb-3" style="max-width: 20rem; @style">
        <div class="card-body">
            <h4 class="card-title">@Html.DisplayFor(modelItem => Model.Title)</h4>
            <p class="card-text">@Html.DisplayFor(modelItem => Model.Description)</p>
            <p class="card-text" style="text-align:end">
                <a asp-page="./Edit" asp-route-id="@Model.ID" data-toggle="tooltip" data-placement="down" title="Edit this Task">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@Model.ID"  data-toggle="tooltip" data-placement="down" title="Edit this Task">Delete</a>
        </div>
    </div>
</div>